<div class="row">
    <div class="formsHolder">    
        <div class="loginFormBody">    

            <form class="loginForm">
                <h4 class="centerText">Create Your Team.</h4>
                <br>
                <div class="form-group">
    <!--                <label for="exampleInputEmail1"></label>-->
                    <input type="test" ng-model="teamName" class="form-control" id="exampleInputEmail1" placeholder="Team Name">

                <br>
                <div ng-controller="createTeamController">
                    <button type="submit" class="btn btn-default loginButton" ng-click="createTeam()">Create a team</button>
                    <br>
                    <br>
                    <p class="centerText">Or</p>
                    <button class="btn btn-default loginButton" ng-click="useAlone()">Use alone</button>
                </div>

            </form>
        </div>
        
    </div>
</div>